@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #001b2E;
    color:#ffffff;
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
}
main{
    max-width: 90%;
}
button{
    background-color: #fff0d3;
    color: black;
    padding: 10px;
}
.passo{
    display: none;
}
.passo.ativo