body{
    background-color: #32556E;
    color:#ffffff;
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
}
main{
    max-width: 90%;
}
button{
    background-color: #fff0d3;
    color: black;
    padding: 10px;
}